<div class="navigation-bar">
    <a class="link-home" asp-controller="Home" asp-action="Index"></a>
    <img id="icon-nshop" src="~/img/N-icon-shop.png">
    <div class="option-user">
        <a asp-controller="Home" asp-action="OpenSignUp" class="option signup btn btn-primary">Đăng ký</a>
        <a asp-controller="Home" asp-action="OpenLogin" class="option btn btn-danger">Đăng nhập</a>
        <img id="icon-user" class="" src="~/img/avatar.jpg">
        <span class="name-user">Xin chào, user</span>
        <div class="option btn btn-light open-profile">
            <i class="bi bi-person-lines-fill"></i>
            <div class="card-profile">
                <a asp-controller="Home" asp-action="OpenProfile" class="btn btn-primary">Thông tin tài khoản</a>
                <a class="btn btn-warning">Lịch sủ đặt hàng</a>
                <a class="btn btn-danger">Đăng xuất</a>
            </div>
           
        </div><!--Để tạm-->
        <a asp-controller="Product" asp-action="CartProduct" class="cart option btn btn-outline-danger">
            <i class="bi bi-cart-fill"></i>
            <div class="number-order">0</div>
        </a>
    </div>
</div>