
<div class="navigation-bar">
    <a class="link-home" asp-controller="Home" asp-action="Index"></a>
    <img id="icon-nshop" src="~/img/N-icon-shop.png">
    <div class="option-user">
        <a asp-controller="Account" asp-action="OpenSignUp" class="option signup btn btn-primary">Đăng ký</a>
        <a asp-controller="Account" asp-action="OpenLogin" class="option btn btn-danger">Đăng nhập</a>
        <img id="icon-user" class="" src="~/img/avatar.jpg">
        @if (SignInManager.IsSignedIn(User))
        {

            <span class="name-user">Xin chào, @UserManager.GetUserAsync(User).Result.FirstName </span>}
        <div class="option btn btn-light open-profile">
            <i class="bi bi-person-lines-fill"></i>
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="card-profile">
                    <a asp-controller="Account" asp-action="OpenProfile" class="btn btn-primary">Thông tin tài khoản</a>
                    <a class="btn btn-warning">Lịch sủ đặt hàng</a>
                    <a asp-controller="Account" asp-action="Logout" onclick="confirm('bạn muốn đăng xuất?')" class="btn btn-danger">Đăng xuất</a>
                </div>}
        </div><!--Để tạm-->
        @if (SignInManager.IsSignedIn(User))
        {
            <a asp-controller="Cart" asp-action="ViewCartProduct" asp-route-idUser="@UserManager.GetUserAsync(User).Result.Id" class="cart option btn btn-outline-danger">
                <i class="bi bi-cart-fill"></i>
                <div class="number-order">0</div>
            </a>
        }
    </div>
</div>