html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f1f0f1;
}

.show-product {
    /*overflow: hidden;*/
    display: block;
    width: 90%;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid silver;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    
    display: -webkit-flex;
    display: flex;
}

.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

    .wrap li {
        background: #ffffff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        transition: box-shadow 0.3s ease-in-out;
    }

        .wrap li:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

.flex-item {
    background: tomato;
    padding: 5px;
    width: 291px;
    height: 359px;
    margin: 21px;
    line-height: 100px;
    color: white;
    border-radius: 12px;
}

.pagination {
    width: 100%;
    height: 240px;
}

.button-pagination {
    display: block;
    width: 45%;
    margin: 27px auto;
    text-align: center;
}

.pagination a {
    color: black;
    float: left;
    margin: 3px;
    text-decoration: none;
    transition: background-color .3s;
    width: 45px;
    height: 45px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center; /*Vertical align*/
    justify-content: center; /*horizontal align*/
}

    .pagination a.active {
        background-color: dodgerblue;
        color: white;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }
/*product box*/
.flex-item {
    position: relative;
    color: black;
}

.flex-component {
    display: flex;
}

.item-image {
    flex-basis: 30%;
}

    .item-image img {
        width: 120px;
        height: 120px;
        border-radius: 12px;
    }

.item-descriptions {
    display: block;
    flex-basis: 70%;
    height: 210px;
    margin-left: 9px;
}

.item-title {
    display: block;
    height: 35px;
    font-weight: bold;
    font-size: 12px;
}

.item-info {
    height: 30px;
    font-size:9px;
}

.line {
    display: block;
    border-radius: 12px;
    margin: 0px 12px;
    border: 1.2px solid rgba(0, 0, 0, 0.507);
    background-color: rgba(0, 0, 0,1);
}

.item-price {
    color: red;
    font-weight: bold;
    font-size: 21px;
    text-align: right;
    height: 70px;
    margin-right: 12px;
    margin-bottom: 12px;
}

.item-detail {
    position: absolute;
    bottom: 9px;
    /*dung de chinh center bang position*/
    left: 50%;
    transform: translate(-50%, 0);
    padding: 12px;
    font-size: 21px;
    font-weight: bold;
    text-decoration:none;
}
/*button css*/
/* CSS */
.button-17 {
    position: absolute;
    align-items: center;
    
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #30dbe5;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform,opacity;
    z-index: 0;
}

    .button-17:hover {
        background: #F6F9FE;
        color: #174ea6;
        text-decoration:none;
    }

    .button-17:active {
        box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
        outline: none;
    }

    .button-17:focus {
        outline: none;
        border: 2px solid #4285f4;
    }

    .button-17:not(:disabled) {
        box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }

        .button-17:not(:disabled):hover {
            box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
        }

        .button-17:not(:disabled):focus {
            box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
        }

        .button-17:not(:disabled):active {
            box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
        }

    .button-17:disabled {
        box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }

/* CSS */
.button-49,
.button-49:after {
    width: 150px;
    height: 76px;
    line-height: 78px;
    font-size: 21px;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    transform: rotate(6deg);
    letter-spacing: 6px;
    outline: transparent;
    position: absolute;
    top: 172px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.button-49:focus{
    outline: none;
}
.button-49:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: 'Sale';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

.button-49:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@media (min-width: 768px) {
    .button-49,
    .button-49:after {
        width: 135px;
        height: 54px;
        line-height: normal;
    }
}

.button-75 {
    align-items: center;
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: auto !important;
    display: flex;
    flex-direction: column;
    font-family: "Codec cold",sans-serif;
    font-size: 9px;
    font-weight: 700;
    height: 27px;
    justify-content: center;
    letter-spacing: .4px;
    line-height: 1;
    max-width: 100%;
    position: absolute;
    right: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .button-75:active {
        outline: 0;
    }

    .button-75:hover {
        outline: 0;
    }

    .button-75 span {
        transition: all 200ms;
    }

    .button-75:hover span {
        transform: scale(.9);
        opacity: .75;
    }
    .button-75:focus{
        outline:none;
    }

@media screen and (max-width: 991px) {
    .button-75 {
        font-size: 15px;
        height: 50px;
    }

        .button-75 span {
            line-height: 50px;
        }
}
.Tab-option-product {
    background-color:white;
    position: relative;
    width: 98%;
    margin: 12px;
    margin-right: auto;
    margin-left: auto;
    height: 90px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.fillter-product{
    position: absolute;
    top: 21px;
    left: 18px;
    display: flex;
}
    .fillter-product * {
        padding: 9px;
        margin: 9px;
        text-align: center;
        width: auto;
        height: auto;
    }
.modify-product{
    position: absolute;
    top: 18px;
    right: 18px;
    display: flex;
}
.modify-product .add-button{
    padding: 9px;
    margin: 9px;
    font-size: 16px;
    color: whitesmoke !important;
    font-weight: 700;
}
.order-button:hover{
    color: white !important;
}