<div class="title-catagories"><i class="bi bi-list" style="font-size:27px;font-weight: bold;"></i>Danh mục sản phẩm</div>
<a asp-controller="Product" asp-action="IndexProduct" asp-route-id="C1" class="option-categories"><i class="bi bi-laptop"></i> Laptop</a>
<a asp-controller="Product" asp-action="IndexProduct" asp-route-id="C2" class="option-categories"><i class="bi bi-pc-display"></i> PC</a>
<a class="option-categories title-option"><i class="bi bi-usb-symbol"></i> Phụ kiện</a>
<a asp-controller="Product" asp-action="IndexProduct" asp-route-id="C3" class="option-categories"><i class="bi bi-display"></i> Màn hình</a>
<a asp-controller="Product" asp-action="IndexProduct" asp-route-id="C4" class="option-categories"><i class="bi bi-keyboard-fill"></i> Bàn phím</a>
<a asp-controller="Product" asp-action="IndexProduct" asp-route-id="C5" class="option-categories"><i class="bi bi-mouse2-fill"></i> chuột</a>
<a asp-controller="Product" asp-action="IndexProduct" asp-route-id="C6" class="option-categories"><i class="bi bi-headphones"></i> Tai nghe</a>
<a class="option-categories title-option"><i class="bi bi-device-ssd"></i> Thiết bị</a>
<a asp-controller="Product" asp-action="IndexProduct" asp-route-id="C7" class="option-categories"><i class="bi bi-router"></i> Thiết bị mạng</a>
<a asp-controller="Product" asp-action="IndexProduct" asp-route-id="C8" class="option-categories"><i class="bi bi-pc-display-horizontal"></i> Thiết bị văn phòng</a>
